@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  margin: auto;
}

footer {
  background-color: white !important;
  color: black;
}

.increment-button {
  background-color: #155dfc;
  border-radius: 5px;
}

.decrement-button {
  background-color: #155dfc;
  border-radius: 5px;
}

span{
  color: black;
}

.cart-Count{
  color: white;
}

.model_btn:hover{
  cursor: pointer;  
}

.fotter_links a:hover{
  color: #155dfc;
}

.Search_bar{
  color: #000;
}

.ShopNow_btn:hover{
  cursor: pointer;
}

h1 span{
  color: #155dfc;
}

input{
  color: #666666 !important;
}

input::placeholder {
  color: #afafaf !important;
}

select{
  color: #6d6d6d;
}

.logo{
  font-size:xx-large;
  color: #0c4395;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo_footer{
  font-size:medium;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.home_banner{
  width: 90% !important;
  height: 105% !important;
}

.navbar{
  background-color: #ffffff;
}
.nav a{
  color: #0c4395;
}

.increment-decrement-button:hover{
  cursor: pointer;
}

.nav_top, .nav_bottom {
  height: 10px;
  background-color: #0c4395;
}

.nav_links {
  color: #0c4395;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all 0.4s ease;
}

.nav_links:hover {
  color: #155dfc;
  letter-spacing: 2px;
}

.Info_Bar{
  background-color: #0c4395;
  font-size: small;
  color: white;
}

.Info_Bar span{
  color: white;
}
.login_button{
  background-color: #0c4395;
  cursor: pointer;
} 

.login_button:hover{
  background-color: #155dfc;
}

.Phone_div{
  background-color: #0c4395;
}

.Email_div{
  background-color: #0c4395;
}

.Location_div{
  background-color: #0c4395;
}

.Phone_div:hover, .Email_div:hover, .Location_div:hover{
  background-color: #155dfc;
}